.searchresults .container {
  margin-top: 3em;
  margin-bottom: 3em;
  padding: 0em 9em;
}

.searchresults .result {
  clear: both;
}

.searchresults .image {
  border-radius: 0.5em;
  width: 100%;
  height: 100%;
  background-color: #222;
}

.searchresults .image img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 0.5em;
}

.searchresults .underline {
  padding: 0em 2em;
  width: 100%;
  display: block;
}

.searchresults .underline p {
  float: right;
  color: gray;
  font-style: italic;
}

.searchresults .templates {
  display: none;
}
