body {
  background-color: #333;
}

* {
font-family: sans-serif;
}

.head img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40em;
}

.container {
  background-color: white;
  border-radius: 1em;
  padding: 3em 7em;
}

.statuslist {
  margin-bottom: 2em;
}

.chart {
 border-radius: 1em;
}

.chart h1 {
 font-size: 100%;
}

#ping {
float:right;
color: gray;
}