
@import url('https://fonts.googleapis.com/css?family=Roboto:700,900%2');

body {
  background: #222;
}

.discordwidget iframe {
  display: block;
  position: absolute;
  top: 10%;
  right: 5%;
}

h1 {
  color: white;
  font-size: 100px;
  font-family: 'Roboto';
  margin-bottom: -2%;
}

.colortransition {
  color: darkred;
    animation: color-change 6s infinite;
}

@keyframes color-change {
  0% { color: #ac0710; }
  50% { color: darkred; }
  100% { color: #ac0710; }
}

.header {
  display: block;
  position: absolute;
  top: 10%;
  left: 5%;
}

h2 {
  color: white;
}

p {
color: #dbdbdb;
font-size: 130%;
}
