@import url('https://fonts.googleapis.com/css?family=Roboto:700,900%2');

/*    Global Assets    */

body {
  background-color: #222;
}

* {
  color: white;
}

hr {
  color: gray;
}

.vl {
  position: relative;
  margin-top: 1%;
  border-left: 3px solid #dbdbdb;
  margin-bottom: 1%;
  left: 0.5%;
}

.roundcorners {
  border-radius: 25em;
}
/*    Navbar    */

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-family: 'Roboto';
  position: relative;
  display: inline-block;
  overflow: hidden;
  background: linear-gradient(to right, gray, gray 50%, white 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
}

.navbar a:hover {
  background-position: 0 100%;
}

.navbar li img {
  display: block;
  padding: 1em;
}

/*    Footer    */

footer {
  position: absolute;
  width: 100%;
  background-color: #333;
  color: white;
}

footer p {
  font-family: Gill Sans, sans-serif;
  font-size: 17pt;
  color:gray;
}

footer ul {
  list-style-type: none;
  text-align: center;
}

footer .col {
  margin-top: 3%;
}

footer li a {
  text-decoration: none;
  margin-left: -2em;
}

footer h1 {
  text-align: left;
}

footer .contact {
  border-color: #222;
  background-color:#111;
}
/*    Mainpage    */

.searchbar {
  display: block;
  position: relative;
  margin: auto;
  width: 50%;
  text-align: center;
  margin-top: 20%;
  margin-bottom: 32%;

}

textarea:focus,
input[type="search"]:focus,
.uneditable-input:focus {
  box-shadow: none;
  outline: 0 none;
}

.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none !important;
}

#searchquery {
  display: block;
  margin-left: 1%;
}

#search {
  text-align: center;
}

.searchbar .autocom-box{
  padding: 0;
  opacity: 0;
  pointer-events: none;
  max-height: 280px;
  overflow-y: auto;
}

.searchbar.active .autocom-box{
  padding: 10px 8px;
  opacity: 1;
  pointer-events: auto;
}

.searchbar.active .autocom-box li{
  display: block;
}

.netdbstats {
  display: block;
  background-color: #111;
  text-align: center;
}

.netdbstats .col {
  margin-top: 5%;
  margin-bottom: 5%;
}

.netdbstats .col h1 {
  display:inline-block;
  position: relative;
  top: 8%;
  left: 1%;
  color: #dbdbdb;
  margin: auto;
  transition: transform 300ms ease-in-out;
}

.netdbstats .col h1:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  width: 0;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

.netdbstats .col h1:hover:after {
  width: 100%;
  left: 0;
}

.netdbstats .col h1:hover {
  transform: translate(0px, -3px);
}

.about h1 {
  margin-top: 10%;
  color: white;
  font-size: 400%;
  font-family: 'Roboto';
  font-weight: bold;
}

.autocom-box li{
  color: gray;
  list-style: none;
  padding: 8px 12px;
  display: none;
  width: 100%;
  cursor: default;
  border-radius: 3px;
}

.autocom-box li:hover{
  background: #efefef;
}

/*    Login    */

.main {
 background-color: #FFFFFF;
 font-family: 'Roboto', sans-serif;
 width: 30%;
 margin: 7em auto;
 border-radius: 1.5em;
 box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.main img {
  margin-left: 2em;
  margin-top: 1em;
}

.main a {
 text-decoration:none;
}

.sign {
 padding-top: 10%;
 color: red;
 font-family: 'Roboto', sans-serif;
 font-weight: bold;
 font-size: 200%;
}

.input {
  width: 76%;
  color: rgb(38, 50, 56);
  font-weight: 700;
  font-size: 100%;
  background: rgba(136, 126, 126, 0.04);
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.02);
  margin-bottom: 2em;
  font-family: sans-serif;
}

.un:focus, .pass:focus {
 border: 2px solid rgba(0, 0, 0, 0.18) !important;
}

.submit {
 cursor: pointer;
 border-radius: 5em;
 background: linear-gradient(to right, red, #5e0000);
 padding-left: 3em;
 padding-right: 3em;
 padding-bottom: 0.7em;
 padding-top: 0.7em;
 font-family: 'Roboto', sans-serif;
 font-size: 85%;
 box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
 background-size: 15em 5em;
 transition: background 300ms ease-out;
}

.submit:hover {
background-position: -5em;
}

.signin {
  text-align: center;
}

.forgot {
  color: #AAAAAA;
  margin-left: 17%;
}

.create {
   color: #AAAAAA;
  text-align: center;
  display: block;
  margin-top: 6%;
  padding-bottom: 5%;
}

.LoginBtn {
  text-align: center;
  margin-left: 1.5em;
  margin-right: 1.5em;
  border-radius: 1.5em;
  margin-top: 1em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.20);

    -webkit-transition: transform 300ms ease;
    -moz-transition: transform 300ms ease;
    -ms-transition: transform 300ms ease;
    -o-transition: transform 300ms ease;
    transition: transform 300ms ease;
  }

.LoginBtn p {
  color: white;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
}

.LoginBtn:hover {
  -webkit-transform:  scale(1.05);
    -moz-transform:  scale(1.05);
    -ms-transform:  scale(1.05);
    -o-transform: scale(1.05);
    transform:  scale(1.05);
}

/*    Discord Bot Page    */

.header {
  display: block;
  margin-left: 5%;
  margin-top: 5%;
}

.header h1 {
  display: block;
  color: white;
  font-size: 100px;
  font-family: 'Roboto';
  margin-bottom: -2%;
}

.header img {
  position: relative;
  padding-right: 10mm;
  float: right;
}

.circle {
  margin-top: 20em;
  height: 70em;
  width: 70em;
  position: relative;
  left: 0;
  background-color: #333;
  border-radius: 50%;
  display: inline-block;
}

.circle h1 {
  padding-top: 5em;
  text-align: center;
  color: #111;
}

.circle p {
  margin-top: -0.3em;
  font-size: 160pt;
  text-align: center;
}

.colortransition {
  color: darkred;
  animation: color-change 6s infinite;
}

@keyframes color-change {
  0% { color: #ac0710; }
  50% { color: darkred; }
  100% { color: #ac0710; }
}

.commandsnav {
  background-color: #111;
  border-radius: 1.5em;
  margin-top: 3em;
  margin-left: 7em;
  width: 20%;
  float: left;
  padding: 2em;
  margin-bottom: 3em;
}

.commandsnav a {
  color: white;
}

.nav-pills .nav-link.active {
    background-color: #ad241a !important;
}

.navcontent {
  background-color: #111;
  border-radius: 1.5em;
  margin-top: 3em;
  margin-left: 7em;
  width: 60%;
  float: left;
  padding: 3em;
  padding-bottom: 6em;
  margin-bottom: 3em;
}

.commands {
  display: block;
  text-align: center;
  color: white;
  width: 100%;
  margin: auto;
}

/*    Docs    */

.bi {
  vertical-align: -.125em;
  pointer-events: none;
  fill: currentColor;
}

.dropdown-toggle { outline: 0; }

.nav-flush .nav-link {
  border-radius: 0;
}

.btn-toggle {
  display: inline-flex;
  align-items: center;
  padding: .25rem .5rem;
  font-weight: 600;
  color: white;
  background-color: transparent;
  border: 0;
}
.btn-toggle:hover,
.btn-toggle:focus {
  color: white;
  background-color: #851b1b;
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='gray' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"] {
  color: white;
}
.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.btn-toggle-nav a {
  display: inline-flex;
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
  text-decoration: none;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: #851b1b;
}

.scrollarea {
  overflow-y: auto;
}

.fw-semibold { font-weight: 600; }
.lh-tight { line-height: 1.25; }

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.btn-toggle-nav a,.btn-toggle-nav a:focus,.btn-toggle-nav a:hover {
  color: gray;
}

.docs main {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}

.docs div {
  background-color: #111;
}

.docs span {
  color: white;
}
