.docs .size {
  width: 280px;
}

.docs .dropdown-toggle { outline: 0; }

.docs .nav-flush .nav-link {
  border-radius: 0;
}

.docs .btn-toggle {
  display: inline-flex;
  align-items: center;
  padding: .25rem .5rem;
  font-weight: 600;
  color: white;
  background-color: transparent;
  border: 0;
}
.docs .btn-toggle:hover,
.docs .btn-toggle:focus {
  color: white;
  background-color: #851b1b;
}

.docs .btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='gray' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}

.docs .btn-toggle[aria-expanded="true"] {
  color: white;
}
.docs .btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.docs .btn-toggle-nav a {
  display: inline-flex;
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
  text-decoration: none;
}

.docs .btn-toggle-nav a:hover,
.docs .btn-toggle-nav a:focus {
  background-color: #851b1b;
}

.docs .fw-semibold { font-weight: 600; }
.docs .lh-tight { line-height: 1.25; }

.docs .bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.docs @media (min-width: 768px) {
  .docs .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.docs .btn-toggle-nav a, .docs .btn-toggle-nav a:focus,.docs .btn-toggle-nav a:hover {
  color: gray;
}

.docs {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}

.docs div {
  background-color: #111;
}

.docs span {
  color: white;
}
