
.searchbar {
  display: block;
  position: relative;
  margin: auto;
  width: 50%;
  text-align: center;
  margin-top: 20%;
  margin-bottom: 32%;
}

.searchbar .logo {
  width: 30em;
  max-width: 100%;
  height: auto;
  margin-bottom: -1em;
}

#search img {
  width: 24px;
  height: 24px;
}

textarea:focus,
input[type="search"]:focus,
.uneditable-input:focus {
  box-shadow: none;
  outline: 0 none;
}

.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none !important;
}

#search {
  text-align: center;
}

.searchbar .autocom-box{
  padding: 0;
  opacity: 0;
  pointer-events: none;
  max-height: 280px;
  overflow-y: auto;
}

.searchbar.active .autocom-box{
  padding: 10px 8px;
  opacity: 1;
  pointer-events: auto;
}

.searchbar.active .autocom-box li{
  display: block;
}

.netdbstats {
  display: block;
  background-color: #111;
  text-align: center;
  border-radius: 25em;
}

@media only screen and (max-width: 992px) {
  .netdbstats {
    border-radius: 20em;
  }
}
@media only screen and (max-width: 768px) {
  .netdbstats {
    border-radius: 10em;
  }
}
@media only screen and (max-width: 576px) {
  .netdbstats {
    border-radius: 5em;
  }
}

.netdbstats .col {
  margin-top: 5%;
  margin-bottom: 5%;
}

.netdbstats .col h1 {
  display:inline-block;
  position: relative;
  top: 8%;
  left: 1%;
  color: #dbdbdb;
  margin: auto;
  transition: transform 300ms ease-in-out;
}

.netdbstats .col h1:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  width: 0;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

.netdbstats .col h1:hover:after {
  width: 100%;
  left: 0;
}

.netdbstats .col h1:hover {
  transform: translate(0px, -3px);
}

.netdbstats img {
  width: 64px;
  height: 64px;
}

.about h1 {
  margin-top: 10%;
  color: white;
  font-size: 400%;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.autocom-box li{
  color: gray;
  list-style: none;
  padding: 8px 12px;
  display: none;
  width: 100%;
  cursor: default;
  border-radius: 3px;
}

.autocom-box li:hover{
  background: #efefef;
}
