body {
  background-color: black;
  font-family: 'Roboto Mono', monospace;
  color: white;
  margin: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 50vw;
  display: flex;
  height: 100vh;
  overflow: hidden;
}
