@import url('https://fonts.googleapis.com/css?family=Roboto:700,900%2');

body {
 background-color: #333;
 font-family: 'Roboto', sans-serif;
}

img {
  margin-left: 2em;
  margin-top: 1em;
}

.main {
 background-color: #FFFFFF;
 width: 30%;
 margin: 7em auto;
 border-radius: 1.5em;
 box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.sign {
 padding-top: 10%;
 color: red;
 font-family: 'Roboto', sans-serif;
 font-weight: bold;
 font-size: 200%;
}

.input {
  width: 76%;
  color: rgb(38, 50, 56);
  font-weight: 700;
  font-size: 100%;
  background: rgba(136, 126, 126, 0.04);
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.02);
  margin-bottom: 2em;
  font-family: sans-serif;
}

.un:focus, .pass:focus {
 border: 2px solid rgba(0, 0, 0, 0.18) !important;
}

.submit {
cursor: pointer;
 border-radius: 5em;
 background: linear-gradient(to right, red, #5e0000);
 padding-left: 3em;
 padding-right: 3em;
 padding-bottom: 0.7em;
 padding-top: 0.7em;
 font-family: 'Roboto', sans-serif;
 font-size: 85%;
 box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
 background-size: 15em 5em;
  transition: background 300ms ease-out;
}

.submit:hover {
background-position: -5em;
}

.signin {
  text-align: center;
}

.forgot {
 color: #AAAAAA;
   margin-left: 17%;
}

.create {
   color: #AAAAAA;
  text-align: center;
  display: block;
  margin-top: 6%;
  padding-bottom: 5%;
}
