@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  background-color: black;
}

* {
  color: white;
  font-family: 'Roboto', sans-serif;
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

video {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

button {
  cursor: pointer;
  background: none;
  outline: none;
  border: none;
  width: 30px;
  height: 30px;
}

.overlay {
  display: none;
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 300ms ease-in-out;
  pointer-events: none;
}

.overlay-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,1) 100%);
  padding: 2em;
  pointer-events: all;
}

.overlay-top {
  position: absolute;
  top: 0;
  width: 100%;
  background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 50%, rgba(0,0,0,0.5) 100%);
  padding: 2em;
  pointer-events: none;
}

.controls {
  display: flex;
  flex-wrap: wrap;
  margin-right: 4em;
}

.controlsleft {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.controlsright {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.buttons h1 {
  font-size: 100%;
}

.progressbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 0.6em;
  margin-bottom: 1em;
  transition: opacity 100ms ease-in-out;
}

.progressbar .timetillend h1 {
  margin-left: 1em;
  font-size: 100%;
}

.bar {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  max-height: 0.4em;
  background: gray;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  transition: max-height 100ms ease-in-out;
}

.barhover {
  max-height: 100%;
}

.bar:hover {
  max-height: 100%;
}

.progress {
  position: absolute;
  width: 0%;
  background-color: red;
  height: 100%;
  z-index: 2;
}

.buffer {
  position: absolute;
  width: 0%;
  background-color: white;
  height: 100%;
  z-index: 0;
}

.hover {
  position: absolute;
  width: 0%;
  background-color: #bbb;
  height: 100%;
  z-index: 1;
  opacity: 0;
}

.bar:hover .hover{
  opacity: 1;
}

.progressthumb {
  border-radius: 50%;
  background-color: red;
  height: 1em;
  width: 1em;
  margin-left: -0.5em;
  margin-right: -0.5em;
  transition: transform 100ms;
  z-index: 3;
}

.thumbhover {
  transform: scale(1.2);
}

.progressthumb:hover {
  transform: scale(1.2);
}

.progressthumb:hover .bar {
  max-height: 100%;
}

.backbtn {
  display: block;
  position: absolute;
  padding: 1em;
  width: auto;
}

.backbtn button {
  width: 100%;
  text-align: center;
  pointer-events: all;
}

.backbtn svg {
  float: left;
  pointer-events: all;
}

.backbtntext {
  display: inline;
  line-height: 2.5em;
  font-size: 12pt;
  opacity: 0;
  margin-left: 0.5em;
  transition: opacity 200ms ease-in-out;
}

.backbtn button:hover .backbtntext {
  opacity: 1;
}

.hoveranimation {
  transition: transform 250ms ease-in-out;
}

.hoveranimation:hover {
  transform: scale(1.1);
}

.buttons .margin {
  margin-right: 1em;
  transition: transform 100ms ease-in-out;
}

.buttons .margin:hover {
  transform: scale(1.2);
}

.buttons .episode h1 {
  color: gray;
  margin-left: 1em;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltipitem {
  visibility: hidden;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  transform: translate(-50%);
}

.tooltip .thumb-tooltiptext {
  visibility: hidden;
  background-color: rgb(49, 49, 49);
  text-align: center;
  border-radius: 0.5em;
 
  margin-bottom: 3em;
  margin-left: 0.5em;

  font-size: 5pt;

  padding: 0 1em;

  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  transform: translate(-50%);
}

.tooltip .thumb-tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(49, 49, 49) transparent transparent transparent;
}

.progressthumb:hover .thumb-tooltiptext {
  visibility: visible;
}

.tooltip .tooltipitem .item {
  background-color: #222;
  border-radius: 0.5em;
  margin-bottom: 1em;
}

.tooltip .tooltipitem .item ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.tooltip .tooltipitem .item ul li {
  padding: 0.2em 2em;
}

.tooltip .tooltipitem .item ul li:hover {
  background-color: gray;
  cursor: pointer;
}

.tooltip .tooltipitem .item .header {
  padding-top: 0.1em;
  padding-left: 0.7em;
  padding-right: 0.7em;
  border-style: none none solid none;
  border-color: gray;
  border-width: 0.1em;
}

.volume .volumebar {
  height: 10em;
  margin: 1em 0.7em;
}

.tooltip:hover .tooltipitem {
  visibility: visible;
}

.pausedoverlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0,0.8);
  padding-left: 10em;
}

.pausedoverlay .text {
  position: relative;
  top: 50%;
  transform: translateY(-70%);
}

.pausedoverlay p {
  font-size: 20pt;
  opacity: 0.6;
  margin-bottom: -1em;
}

.pausedoverlay .description {
  display: inline-block;
  width: 50%;
}

.pausedoverlay h1 {
  font-size: 40pt;
  margin-bottom: -0.25em;
}

.info-overlay {
  position: fixed; 
  left: 0; 
  top: 0; 
  width: 100%; 
  height: 100%; 
  pointer-events: none;
}

.info-overlay .info {
  position: relative; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
}

.info-overlay .icon {
  display: none;
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
}

.info-overlay .icon-left {
  display: none;
  position: absolute;
  top: 50%; 
  left: 30%; 
  transform: translate(-70%, -50%);
}

.info-overlay .icon-right {
  display: none;
  position: absolute;
  top: 50%; 
  left: 70%; 
  transform: translate(-30%, -50%);
}

.info-overlay .icon-animation {
  background-color: rgb(48, 48, 48);
  border-radius: 50%;
  padding: 1.5em;
  animation-name: fadeout;
  animation-duration: 500ms;
  animation-timing-function: linear;
}

@keyframes fadeout {
  from {opacity: 0.7;}
  to {opacity: 0; transform: scale(1.7);}
}

.loadinganimation {
  width: 100px;
  height: 100px;
  background-color: red;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}

.options .selected {
  background-color: white;
  color: black;
}